/*

화면을 구성하다면 
창이 커서 창을 줄일 일이 생기는데 그 때 사용하는 것이
flex-wrap 이다.

*/

#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /*
    플렉스 컨테이너의 교차축 위에서 플렉스 아이템들이 어떤 식으로 정렬할지를 결정한다.
    flex-end
    center 
    */
    flex-wrap: wrap;
    /*
    wrap-reverse
    */
}

#container div {
    width: 200px;
    height: 200px;
    text-align:center;
}